:root{
    --fundo:	#DC143C;
    --cor-frente:#FF8C00;
    --cor-verso: #E6E6FA;
    --destque:	#ADFF2F;
    --preto: #000000;
    --braco:#ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0%;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--destque);
    color: var(--preto);
    width: 100%;
    text-align: center;
}
#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height:20rem;
    margin: 1rem;

}
.conteudo-cartao{
    background-color: var(--cor-frente);
    height: 100%;
    text-align: center;
}
.conteudo-cartao p{
    margin-top:5rem;
    padding: 2rem;
    font-size:1.4vw;
}
.pergunta-cartao{
    font-weight:500;
}
.resposta-cartao{
    font-weight:700;
    color:var(--destaque);
}
.cartao{
    flex-grow:1;
    flex-basis:calc(33%-6rem);
    height:20rem;
    margin: 1rem;
}
.conteudo-cartao{
    background-color: var(--color-frente);
    height:100%;
    color:var (--branco);
    text-align:center;
}
